<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dog Index</title>
</head>
<body>
    <h1>All of the Very Good Doggos</h1>
    <div>Click on a pupper below to learn more about them!</div>
    <ul> <% for (let i = 0; i < dogs.length; i++) {%>
        <li><a href='dogs/<%=dogs[i]._id%>'><%=dogs[i].name%></a></li>
        <%}%>
    </ul>
    <nav>
    <a href='/dogs/new'>click here to add a new floofer to the list!</a>
    </nav>
</body>
</html>