<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Dog</title>
</head>
<body>
    <h1>Add A Doggo!</h1>
    <form action="/dogs" method='POST'> 
    <input type='text' name='name'/>
    <input type='number' name='paws'/>
    <input type='text' name='color'/>
    <input type='text' name='breed'/>
    <input type='text' name='favoriteToys'/>
    <input type='checkbox' name='isFixed'/>
    <input type='checkbox' name='isGood'/>
    <input type='submit' name='create Woofer'/>
</body>
</html>