<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Dog</title>
</head>
<body>
    <h1>Woohoo! You have a Doggo! Please tell us about it!</h1>
    <form action="/dogs" method='POST'> 
    <input type='text' name='name'>Name<br/>
    <input type='number' name='paws'>How many Paws does this floofer have?<br/>
    <input type='text' name='color'>What color is the doggo?<br/>
    <input type='text' name='breed'>What breed is this pupper?<br/>
    <input type='text' name='favoriteToys'>What are these doge's favorite toys?<br/>
    <input type='checkbox' name='isFixed'>Is this pupperino spayed/neutered?<br/>
    <input type='checkbox' name='isGood'>Is this doggo a very good doggo?<br/>
    <input type='submit' name='create Woofer'/>
</body>
</html>